/* .vitepress/theme/custom.css */
/* https: //github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

:root {
    --vp-c-brand-1: #646cff;
    --vp-c-brand-2: #747bff;
    /* --vp-c-brand-3: #646cff; */

}

.dark {
    --vp-c-bg: black;
}

.theme {
    background-color: var(--vp-c-bg);
}
